<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/ui/menu">

    <menu id="application" caption="msg://com.company.spacetrans/menu.application" insertBefore="administration">
        <menu id="nsi" caption="msg://com.company.spacetrans/menu.nsi">

        <item screen="st_Gas.browse" caption="msg://com.company.spacetrans.screen.gas/gasBrowse.menu"/>
        <item screen="st_Moon.browse" caption="msg://com.company.spacetrans.screen.moon/moonBrowse.menu"/>
        <item screen="st_Planet.browse" caption="msg://com.company.spacetrans.screen.planet/planetBrowse.menu"/>
        </menu>
        <item screen="st_Spaceport.browse"
              caption="msg://com.company.spacetrans.screen.spaceport/spaceportBrowse.menu"/>
        <item screen="st_Company.browse" caption="msg://com.company.spacetrans.screen.company/companyBrowse.menu"/>
        <item screen="st_Individual.browse"
              caption="msg://com.company.spacetrans.screen.individual/individualBrowse.menu"/>
        <item screen="st_Carrier.browse" caption="msg://com.company.spacetrans.screen.carrier/carrierBrowse.menu"/>
        <item screen="st_Waybill.browse"
              caption="msg://com.company.spacetrans.screen.waybill/waybillBrowse.menu"/>
        <item screen="st_Discounts.browse"
              caption="msg://com.company.spacetrans.screen.discounts/discountsBrowse.menu"/>
        <separator/>
        <item screen="st_User.browse" caption="msg://com.company.spacetrans.screen.user/UserBrowse.caption"/>
        <item screen="themeSettingsScreen" caption="msg://io.jmix.ui.app.themesettings/themeSettings.caption"/>
    </menu>

</menu-config>